/* Basic Styles */

* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
  }
  
  body {
    font-family: sans-serif;
    background-color: rgb(242, 218, 242);
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    position: relative;
    margin: 10px auto 0;
    width: 300px;
    height: 634px;
    background-color:white ;
    overflow: hidden;
    border-radius: 20px;
  }
  
  /* Toggle Functionality */
  
  #toggle {
    display: none; /* Oculta el checkbox */
  }
  
  /* Styles for the 'open' state, if the checkbox is checked */
  #toggle:checked + .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  #toggle:checked + .toggle-container .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(1);
  }
  
  #toggle:checked + .toggle-container .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  
  /* Open Nav */
  #toggle:checked ~ .nav {
    margin-bottom: 100px;
    pointer-events: auto;
    transform: translate(50px, 50px);
  }
  
  #toggle:checked ~ .nav .nav-item {
    color: rgb(123, 57, 254);
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.5s, opacity 0.1s;
  }
  
  #toggle:checked ~ .nav .nav-item:nth-child(1) {
    transition-delay: 0.15s;
  }
  
  #toggle:checked ~ .nav .nav-item:nth-child(2) {
    transition-delay: 0.1s;
  }
  
  #toggle:checked ~ .nav .nav-item:nth-child(3) {
    transition-delay: 0.05s;
  }
  
  #toggle:checked ~ .nav .nav-item:nth-child(4) {
    transition-delay: 0s;
  }
  
  #toggle:checked ~ .nav .nav-item:before {
    transition-delay: inherit;
    opacity: 0;
  }
  
  #toggle:checked ~ .dummy-content {
    padding-top: 30px;
  }
  
  #toggle:checked ~ .dummy-content:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Toggle Button */
  .button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.6s;
  
    /* Shadow on Hover */
    &:hover {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }
  
  .button-toggle:before, .button-toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:rgb(123, 57, 254) ;
    border-radius: 5px;
    transition: 0.6s;
  }
  
  .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }
  
  .button-toggle:after {
    transform: translateY(50%) rotate(-45deg) scale(0);
  }
  
  /* Menu */
  .nav {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px 20px;
    pointer-events: none;
    transition: 0.6s;
  }
  
  .nav-item {
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: 0.6s, opacity 1s;
    margin-right: 10px; /* Espacio entre elementos */
  }
  
  /* Dummy Content */
  .dummy-content {
    position: relative;
    text-align: center;
    transition: 0.6s;
  }
  
  .dummy-content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    transition: 0.6s;
  }
  
  .circle {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: rgb(254, 190, 0);
    border-radius: 100%;
  }
  
  .text {
    margin: 15px 0 30px;
  }
  
  .text span {
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    background-color: rgb(123, 57, 254);
    border-radius: 5px;
  }
  
  .text span:first-child {
    width: 50px;
  }
  
  .text span:last-child {
    width: 80px;
  }
  
  .square-top {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    background-color: rgb(123, 57, 254);
    z-index: 1;
    border-radius: 20px;
  }
  
  .square-behind {
    display: inline-block;
    position: relative;
    top: -256px;
    width: 250px;
    height: 210px;
    background-color: rgb(68, 151, 227);
    border-radius: 20px;
  }
  
  .square-behind:before, .square-behind:after {
    content: '';
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
  }
  
  .square-behind:before {
    left: 0;
    background-color:rgb(254, 190, 0) ;
    border-radius: 20px;
  }
  
  .square-behind:after {
    right: 0;
    background-color: rgb(254, 190, 0);
    border-radius: 20px;
  }
  
  